# Imagenes CNN (Entrenamiento, Prueba y Validación)
Archivos/Clases-individuos/
Archivos/Clases-individuos-old/
Archivos/Images/adan/
Archivos/Images/adan_obs/

# Modelo keras y OpenCV
Unidad_2/E04_CNN/modelo/
Unidad_2/E04_CNN/modelo-99-a/
Unidad_3/ENN_BocinaXVoz/model/
*.xml

Unidad_3/ENN_BocinaXVoz/sounds/
*.mp3
*.wav
/AyR_2025_PID
